{% extends "layout.html" %}

{% block title %}
    Book-review
{% endblock %}

{% block body %}
    <br><h1>Welcome to Book Review. </h1>

    <h2>A website in which you can search for books, rate them and write reviews about them.</h2>

    <br><br>

    <form action="{{ url_for('signup') }}" method="post">

        <div class="form-group">
            <button class="btn btn-primary">Sigh up</button>
        </div>

    </form>


    <form action="{{ url_for('signin') }}" method="post">

        <div class="form-group">
            <button class="btn btn-primary">Sign in</button>
        </div>

    </form>
{% endblock %}