{% extends "layout.html" %}

{% block title %}
    Success!
{% endblock %}

{% block body %}
    

    <form action="{{ url_for('index') }}" method="post">

        <br><br><br>        
        <h3>Search results</h3>
        <br>


        <ul>
            {% for result in results %}

                <li>
                    <a href="{{ url_for('bookpage', book_id=result.id) }}">
                        {{ result.title }}
                    </a>
                </li>
                     
            {% else %}
                <li>No results.</li>
            {% endfor %}
        </ul>
                
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br>



        <div class="form-group">
            <button class="btn btn-primary">Sign out</button>
        </div>

    </form>

    
{% endblock %}
